/* You can add global styles to this file, and also import other style files */
.bg-color .owl-next, .bg-color .owl-prev{
  background: rgb(115 113 113 / 76%)!important;
  color: #222!important;
  height: 60px!important;
  width: 60px!important;
  border-radius: 50%!important;
  position: absolute;
  top: 50%;
}

.bg-color .owl-next{
  right: -68px;
  transform: translate(-50%, -50%);
}

.bg-color .owl-prev{
  left: -8px;
  transform: translate(-50%, -50%);
}
.bg-color .owl-next:hover, .bg-color .owl-prev:hover{
  background: #fa0!important;
  color: #222!important;
  height: 60px!important;
  width: 60px!important;
  border-radius: 50%!important;
  position: absolute;
  top: 50%;
  transition: .3s all ease;

}

.bg-color .owl-next i, .bg-color .owl-prev i{
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}